@media (max-width: 1650px) {
  #main-content {
    width: 1500px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .content {
    flex-direction: column;
  }

  .text {
    width: 80%;
  }

  .subtitle {
    text-align: center;
  }

  .title {
    text-align: center;
  }

  .carousel-main {
    display: none;
  }

  #products {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    gap: 20px;
  }

  .product-card {
    width: 35%;
    height: 350px;
    background-color: #11253d;
    border-radius: 20px;
  }

  .product-card .info {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-card h3 {
    font-size: 20px;
  }

  .product-card p {
    text-align: center;
  }

  .product-card img {
    width: 100%;
    height: 200px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .services-container {
    width: 72%;
  }

  .services-container h1 {
    margin-top: 60px;
  }

  .services-container p {
    margin-bottom: 20px;
  }
}

@media (max-width: 1000px) {
  .content {
    padding: 60px 0;
  }

  .text {
    width: 85%;
  }

  .product-card {
    width: 41%;
    height: 275px;
  }

  .product-card img {
    height: 130px;
  }

  .title {
    font-size: 30px;
  }

  .services-header h1 {
    font-size: 30px;
  }

  .services-container {
    width: 84%;
  }

  .navbar .menu {
    display: none;
  }

  .navbar {
    justify-content: center;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 760px) {
  .content {
    padding-bottom: 40px;
  }

  #products {
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 85%;
    height: 250px;
  }

  .product-card .info {
    height: 105px;
  }

  .title {
    font-size: 25px;
  }

  .services-header h1 {
    font-size: 25px;
  }

  .services-header p {
    font-size: 13px;
  }

  .subtitle {
    font-size: 15px;
  }

  .desc {
    font-size: 13px;
  }

  #custom-text p {
    font-size: 13px;
  }

  .service-card h3 {
    font-size: 17px;
  }

  .service-card p {
    font-size: 14px;
  }

  .info h3 {
    font-size: 18px;
  }

  .info p {
    font-size: 13px;
  }
}

@media (max-width: 520px) {
  .product-card {
    height: 255px;
  }

  .info h3 {
    font-size: 15px;
  }

  .info p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .menu-responsive {
    right: 17%;
  }
}
