/* Reseta padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: auto;
  min-height: 100%;
  position: relative;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
}

/* =======================
    TELA DE CARREGAMENTO
    ======================= */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-screen p {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-muted);
}

.loader {
  border: 6px solid rgba(255, 255, 255, 0.1);
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* =======================
    tela offline
    ======================= */
#offline-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b161d;
  color: var(--text-color);
  display: none;
  /* só aparece quando offline */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.offline-box {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 350px;
}

.offline-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* ===== Scrollbar ===== */

/* Largura */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Trilho (fundo do scroll) */
::-webkit-scrollbar-track {
  background: #0b161d;
  border-radius: 10px;
}

/* Barra (scroll em si) */
::-webkit-scrollbar-thumb {
  background: #2c9cff;
  border-radius: 10px;
  border: 2px solid #0b161d;
}

/* Barra quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #1784e8;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #2c9cff #0b161d;
}

/* NAVBAR */
.header {
  background: var(--secondary-color);
  padding: 40px 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .logo img {
  width: 200px;
}

.navbar .logo span {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.95rem;
  transition: 0.3s;
}

.navbar .menu ul li a:hover,
.navbar .menu ul li a:focus {
  color: var(--primary-color);
}

.menu a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu a .icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
}

.menu a .icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

#barra-pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0px 10px;
}

#barra-pesquisa div {
  display: flex;
  align-items: center;
  background-color: #172935;
  width: 600px;
  height: 45px;
  border-radius: 15px;
  opacity: 0.5;
}

#barra-pesquisa div input {
  padding-left: 5px;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  padding-right: 15px;
}
#barra-pesquisa div input:focus {
  outline: none;
}

#barra-pesquisa div svg {
  margin-left: 10px;
}

#sem-duvida {
  font-size: 15px;
  padding-top: 10px;
}

#duvida {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 0px 10px;
}

#duvida main {
  display: flex;
  flex-direction: column;
  background-color: #172935;
  width: 800px;
  border-radius: 15px;
  padding: 0px 20px;
}

#duvida main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#duvida main div button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

#duvida main div svg {
  width: 25px;
  height: 25px;
}

#duvida h3 {
  padding: 20px 0px;
}

#duvida p {
  font-size: 15px;
  padding-bottom: 20px;
  display: none;
  text-align: justify;
}

#formulario {
  background-color: #172935;
  width: 550px;
  border-radius: 15px;
}

#email {
  padding: 30px 20px 0px 20px;
}

#email-input {
  margin-top: 10px;
  border-radius: 10px;
  width: 510px;
  height: 40px;
  padding-left: 10px;
}

#email-input:focus {
  outline: none;
}

#assunto {
  padding: 30px 20px 0px 20px;
}

#assunto-input {
  margin-top: 10px;
  border-radius: 10px;
  width: 510px;
  height: 40px;
  padding-left: 10px;
}

#assunto-input:focus {
  outline: none;
}

#paragrafo {
  padding: 30px 20px 0px 20px;
}

#paragrafo-input {
  margin-top: 10px;
  border-radius: 10px;
  width: 510px;
  height: 150px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  font-family: var(--font-family);
  font-size: 13px;
}

#paragrafo-input:focus {
  outline: none;
}

#mandar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#enviar {
  background-color: #1da1fb;
  width: 510px;
  height: 30px;
  border-radius: 5px;
  margin: 10px 20px 30px 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

#enviar:hover {
  opacity: 0.7;
  color: white;
}

#bloco {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: 50px 50px 20px 50px;
}

#bloco-duvida {
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#bloco-duvida #sub-titulo {
  color: #1da1fb;
  font-size: 17px;
}

#bloco-duvida #titulo {
  margin-top: -5px;
  text-align: left;
  font-size: 30px;
}

#bloco-duvida #paragrafo-1 {
  margin: 10px 0px;
  font-size: 13px;
}

#bloco-duvida #paragrafo-2 {
  margin: 10px 0px;
  font-size: 13px;
}

#bloco-duvida #paragrafo-3 {
  margin: 25px 0px;
  font-size: 13px;
}

#titulo-principal {
  font-size: 40px;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
  color: var(--text-muted);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-responsive {
  width: 100px;
  height: 160px;
  background-color: var(--card-bg);
  position: fixed;
  right: 11%;
  top: 5.5%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 5;
}

.menu-responsive li {
  text-align: center;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-responsive li:nth-child(3) {
  background-color: #1784e8;
}

.menu-responsive li:nth-child(1) {
  border-radius: 10px 10px 0 0;
}

.menu-responsive li:nth-child(5) {
  border-radius: 0 0 10px 10px;
}

.menu-responsive li:hover {
  background-color: #1784e8;
}

.menu-button {
  position: fixed;
  right: 5%;
  top: 5.5%;
  z-index: 5;
  display: none;
}

#close-area {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: none;
  z-index: 3;
}
