/* Reseta padrões */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #2c9cff #0b161d;
}
:root {
  --primary-color: #1da1fb; /* Azul dos botões */
  --secondary-color: #101e27; /* Fundo */
  --text-color: #ffffff;
  --text-muted: #9aa5b1;
  --card-bg: #1c2a35;
  --font-family: "Inter", Arial, sans-serif;
  --status-ok: #28a745; /* Verde para status OK */
  --status-aviso: #ffc107; /* Amarelo para status Aviso */
  --status-emergencia: #dc3545; /* Vermelho para status Emergência */
}

html,
body {
  height: auto;
  min-height: 100%;
  position: relative;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: 1.6;
}
main {
  margin-inline: 5%; /* Adiciona 20px nas laterais do conteúdo */
}
/* =======================
    TELA DE CARREGAMENTO
    ======================= */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-screen p {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-muted);
}

.loader {
  border: 6px solid rgba(255, 255, 255, 0.1);
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =======================
    tela offline
    ======================= */
#offline-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b161d;
  color: var(--text-color);
  display: none; /* só aparece quando offline */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.offline-box {
  background: var(--card-bg);
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  max-width: 350px;
}

.offline-icon {
  font-size: 2rem;
  margin-bottom: 10px;
}

/* ===== Scrollbar ===== */

/* Largura */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Trilho (fundo do scroll) */
::-webkit-scrollbar-track {
  background: #0b161d;
  border-radius: 10px;
}

/* Barra (scroll em si) */
::-webkit-scrollbar-thumb {
  background: #2c9cff;
  border-radius: 10px;
  border: 2px solid #0b161d;
}

/* Barra quando passa o mouse */
::-webkit-scrollbar-thumb:hover {
  background: #1784e8;
}

/* NAVBAR */
.header {
  background: var(--secondary-color);
  padding: 40px 50px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar .logo img {
  width: 200px;
}

.navbar .logo span {
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .menu {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.95rem;
  transition: 0.3s;
}

.navbar .menu ul li a:hover,
.navbar .menu ul li a:focus {
  color: var(--primary-color);
}

.menu a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu a .icon {
  display: inline-flex;
  width: 18px;
  height: 18px;
}

.menu a .icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

/* INICIO TITULO */
.list-container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 0 35px; /* pra ter respiro nas laterais */
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 900px;
  text-align: center;
}

.list h1 {
  margin-top: 25px;
  text-align: center;
  font-size: 40px;
  color: var(--text-color);
}

.list p {
  margin-top: 2px;
  font-size: 20px;
}

/* SOBRE A EMPRESA */

.about-text {
  max-width: 600px;
  text-align: justify;
}

.about-text h1 {
  font-size: 30px;
}

.about-text h2 {
  color: var(--primary-color);
  font-size: 20px;
}

.about-text p {
  font-size: 16px;
}

.about-container {
  /* Alinha topo do texto com imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 20px;
}

.about-image img {
  /* Ajustar o tamanho da imagem */
  max-width: 500px;
  height: auto;
  margin-top: 50px;
}

/* === O QUE NOS GUIA=== */

#topics-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.topics-container {
  margin: 35px 0;
  display: flex;
  gap: 30px;
  width: 100%;
  max-width: 1175px;
}

.topics-titulo h1 {
  text-align: center;
}

.topics-titulo h2 {
  text-align: center;
}

.topics {
  background-color: var(--card-bg);
  padding: 35px;
  border-radius: 15px;
  text-align: center;
  width: 33%;
}

.topics h3 {
  color: var(--primary-color);
  padding: 5px;
  margin-bottom: 5px;
}

h2 {
  color: var(--primary-color);
  font-size: 20px;
}
/* === FIM VALORES === */

/* === CRIADORES + ANIMAÇÃO INFINITA === */
.team {
  margin: 50px 0 0 0;
  text-align: center;
}

.scroll {
  margin-inline: auto;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 1200px;
  mask: linear-gradient(to right, transparent, #fff 15%, red 85%, transparent);
}

#scroll-container {
  background-color: var(--secondary-color);
  border: 1px solid var(#1da1fb);
  margin: 15px;
  padding-left: 20px;
  margin-top: 30px;
  gap: 20px;
  width: max-content;

  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scrollinfinito 25s linear infinite; /* ANIMAÇÃO infinita */
  will-change: transform;
}

#scroll-container::after {
  content: "";
  display: flex;
  width: 100%;
}

.scroll_item {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 10px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 210px;
  height: 295px;
}

.scroll_item:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
}
.scroll_wrapper {
  display: flex;
  animation: scroll 20s linear infinite;
}

@keyframes scrollinfinito {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll_item h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--text-color);
  margin-top: 20px;
  padding: 0 7px;
}

.scroll_item p {
  font-size: 14px;
  color: var(--primary-color);
  padding: 0 7px;
}

.scroll_item img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
  flex-shrink: 0;
  object-fit: cover;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 0.85rem;
  color: var(--text-muted);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.menu-responsive {
  width: 100px;
  background-color: var(--card-bg);
  position: fixed;
  right: 11%;
  top: 5.5%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  z-index: 5;
}

.menu-responsive li {
  text-align: center;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-responsive li:nth-child(2) {
  background-color: #1784e8;
}

.menu-responsive li:nth-child(1) {
  border-radius: 10px 10px 0 0;
}

.menu-responsive li:nth-child(5) {
  border-radius: 0 0 10px 10px;
}

.menu-responsive li:hover {
  background-color: #1784e8;
}

.menu-button {
  position: fixed;
  right: 5%;
  top: 5.5%;
  z-index: 5;
  display: none;
}

#close-area {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: none;
  z-index: 3;
  margin: 0;
}
